<div class="gridster">
  <ul>
  	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Welcome" data-text="Emils Google Analytics Dashboard<br/>Results from the previous 28 days" data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="unique-visitors" data-view="Meter" data-title="Unique Visitors" data-min="0" data-max="500"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="visits" data-view="Graph" data-title="Visits" style="background-color:#ff9618"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="keywords" data-view="List" data-unordered="true" data-title="Keywords" data-moreinfo="Top non-branded keywords"></div>
    </li>
  </ul>
</div>